/* RondaList.module.css */

/* Estilo general para la lista de rondas */
.rondasList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilo para cada ronda */
.rondaItem {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para separar las rondas */
}

/* Estilo para la cabecera de la ronda */
.rondaHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

/* Estilos de título y descripción de la ronda */
.rondaHeader h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.rondaHeader p {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}

/* Estilo de la flecha de la cabecera */
.arrow {
  font-size: 1.5rem;
  color: #888;
  transition: transform 0.3s ease-in-out;
}

.rondaHeader:hover .arrow {
  transform: rotate(180deg); /* Efecto de rotación de la flecha */
}

/* Estilo del contenedor de las charlas */
.charlasContainer {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin-top: 20px;
}

/* Personalización de la barra de desplazamiento */
.charlasContainer::-webkit-scrollbar {
  height: 8px;
}

.charlasContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.charlasContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Estilo para la carta de charla */
.ronda-card {
  width: 300px;  /* Asegura un tamaño fijo */
  height: 240px;  /* Altura fija para las rondas */
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  /* Asegura que la imagen esté centrada */
  overflow: hidden;  /* Evita que se desborden */
}

/* Hover effect */
.ronda-card:hover {
  background-color: #f0f0f0;
}

/* Imagen en la carta */
.charla-card-image {
  width: 100%;  /* Asegura que ocupe todo el ancho del contenedor */
  height: 120px;  /* Altura fija para todas las imágenes */
  object-fit: cover;  /* Asegura que la imagen se recorte proporcionalmente */
  border-radius: 8px;
  margin-bottom: 10px;
  display: block;  /* Asegura que la imagen sea un bloque, sin espacios adicionales */
  max-height: 120px;  /* Limita la altura máxima */
  max-width: 100%;  /* Limita el ancho máximo */
}

/* Estilo del texto (título de la charla) */
.charla-card-text {
  font-size: 1rem;
  color: #333;
  text-overflow: ellipsis;  /* Puntos suspensivos si el texto es muy largo */
  white-space: nowrap;  /* Evita que el texto se desborde */
  overflow: hidden;
}
